<footer class="footer">
    <div class="footer-content">
      <div class="footer-section">
        <img src="https://zerodha.com/static/images/logo.svg" alt="Zerodha Logo" width="150">
        <p>© 2010 - 2025, Zerodha Broking Ltd.<br>All rights reserved.</p>
        <div class="social-icons">
          <a href="#"><img src="https://zerodha.com/static/images/x-twitter.svg" alt="Twitter"></a>
          <a href="#"><img src="https://cdn-icons-png.flaticon.com/128/145/145802.png" alt="Facebook" width="25"></a>
          <a href="#"><img src="https://cdn-icons-png.flaticon.com/128/15707/15707749.png" alt="Instagram" width="25"></a>
          <a href="#"><img src="https://cdn-icons-png.flaticon.com/128/14715/14715341.png" alt="LinkedIn" width="25"></a>
          <a href="#"><img src="https://cdn-icons-png.flaticon.com/128/5968/5968852.png" alt="YouTube" width="25"></a>
          <a href="#"><img src="https://cdn-icons-png.flaticon.com/128/15707/15707820.png" alt="Whatsapp" width="25"></a>
          <a href="#"><img src="https://cdn-icons-png.flaticon.com/128/2111/2111646.png" alt="Telegram" width="25"></a>
        </div>
      </div>
  
      <div class="footer-section">
        <h3>Company</h3>
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">Products</a></li>
          <li><a href="#">Pricing</a></li>
          <li><a href="#">Referral programme</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Zerodha.tech</a></li>
          <li><a href="#">Open source</a></li>
          <li><a href="#">Press & media</a></li>
          <li><a href="#">Zerodha Cares (CSR)</a></li>
        </ul>
      </div>
  
      <div class="footer-section">
        <h3>Support</h3>
        <ul>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Support Portal</a></li>
           </ul>
  
      </div>
  
        <div class="footer-section">
          <h3>Account</h3>
          <ul>
              <li><a href="#">Open an account</a></li>
              <li><a href="#">Fund Transfer</a></li>
          </ul>
  
      </div>
  
  
    </div>
  </footer>