<div class="firstPart">
     <img src="https://zerodha.com/static/images/landing.png" width="700">
     <h1 style="font-size: 2.75rem;">Invest in everything</h1>
     <h3 style="font-size: 1.4rem;">Online platform to invest in stocks, derivatives, mutual funds, ETFs, bonds, and more.</h3>
     <a href="https://zerodha.com/open-account" id="signUp">Sign up for free</a>
</div>
<div class="zerodha-section">
    <div class="content-container">
      <div class="left-content">
        <h2>Trust with confidence</h2>
        <div class="text-section">
          <h3>Customer-first always</h3>
          <p>That's why 1.5+ crore customers trust Zerodha with ₹4.5+ lakh crores of equity investments and contribute to 15% of daily retail exchange volumes in India.</p>
        </div>
        <div class="text-section">
          <h3>No spam or gimmicks</h3>
          <p>No gimmicks, spam, "gamification", or annoying push notifications. High quality apps that you use at your pace, the way you like.</p>
        </div>
        <div class="text-section">
          <h3>The Zerodha universe</h3>
          <p>Not just an app, but a whole ecosystem. Our investments in 30+ fintech startups offer you tailored services specific to your needs.</p>
        </div>
        <div class="text-section">
          <h3>Do better with money</h3>
          <p>With initiatives like <a href="#">Nudge</a> and <a href="#">Kill Switch</a>, we don't just facilitate transactions, but actively help you do better with your money.</p>
        </div>
        <div class="links">
          <a href="#" class="explore-products">Explore our products →</a>
          <a href="#" class="try-kite-demo">Try Kite demo →</a>
        </div>
      </div>
      <img class="ecosystem-image" src="./ecosystem.png" alt="Zerodha Ecosystem">
    </div>
    <div class="bottom-logos">
      <img src="https://zerodha.com/static/images/press-logos.png" alt="Press Logos">
    </div>
  </div>